:root{
    --bt-orange:#C85321;
}
.about-sec{
    padding: 50px 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    .about-me-details{
        p{
            line-height: 2em;
        }
        .about-title{
            // display: flex;
            // align-items: center;
            // flex-direction: flex-row;
            // gap: 10px;
            &::after{
                content: "";
                width: 30px;
                height: 30px;
                background-color: var(--bt-orange);
                display: inline-block;
                margin-left: 15px;
            }
            
        }
        svg {
                position: absolute;
                max-width: 700px;
                top: -398px;
                right: 0;

                @media screen and (min-width: 767px) {
                     top: -96px;
                }
                text {
                    fill: #c85321;
                }
            }
    }
    
    
}