.proj-aesthetics{
    img{
        transition: all 300ms ease-in;
    }
    .bg-image{
        animation: zoomIn 5s infinite 100ms ;
    }
    &:hover{
        .bg-image{
            transform: scale(1.05);
        }
        .phone1{
            transform: translateY(20px) !important;
        }
        .phone2{
            transform: translateY(50px) !important;
        }
    }
}

@keyframes zoomIn {
    from{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    to{
        transform: scale(1);
    }
}